@media (max-width: 812px) {
    .moblie {
        display: none;
    }
    .padding-moblie {
        padding-left: 4px;
    }

    .body {
        padding: 0 6px;
    }

   .text-center {
    display: none;
   }

    .contact {
        padding: 0 6px;
    }
}